header {
    border: 1px solid silver;
}

header li {
    list-style: none; /* Removes bullets from list items */
    padding-right: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.disabled {
    color: gray;
}

.disabled-link {
    color: purple;
}

.active {
    color: yellow;
}

.parent-color {
    color: red;
}

.sister-text {
    color: blue;
}

.parent-sibling {
    background-color: red;
}

.brother-text {
    background-color: blue;
}

.child-text {
    border: 1px solid silver;
    border-radius: 5px;
}

.promo {
    font-weight: bold; 
    color: gold;
}

input {
    font-size: 25px;
}